body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: url("../images/deers_custom.jpg") no-repeat;
    background-size: cover;
}

table {
    cursor: pointer;
    font-weight: bold;
    background: rgba(255,255,255, 0.3);
    border-collapse: collapse;
    width: 100%;
}

th, td {
    opacity: 1;
    padding: 8px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5
}

.center_table {
    border: ridge lightgray;
    padding: 15px;
    border-radius: 10px;
    text-align:center;
    margin-left:48%;

    width:800px;
}